---
import type { GetStaticPaths } from 'astro'
import { Icon } from 'astro-icon/components'
import MainLayout from '@layouts/MainLayout.astro'
import PokemonCard from '@components/pokemons/PokemonCard.astro'
import type { PokemonListResponse } from '../../interfaces/pokemon-list-response'
import Title from '@components/shared/Title.astro'

export const getStaticPaths = (async () => {
  const response = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151')
  const { results } = (await response.json()) as PokemonListResponse
  const pokemons = results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }))
  return pokemons
}) satisfies GetStaticPaths

const { name } = Astro.params
const { url } = Astro.props
const id = url.split('/').at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<MainLayout
  title=`Pokemon - #${id} ${name}`
  description=`Información sobre el pokemon ${name}`
  image={imgSrc}
>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div class='flex flex-row'>
      <div>
        <button onclick='history.back()' class='text-blue-500'>Volver</button>
        <Title>{name}</Title>
      </div>
      <button id='btn-favorite' class='ml-2'>
        <Icon name='heart-outline' size={50} />
        <Icon class='hidden' name='heart-full' size={50} />
      </button>
    </div>
  </section>

  <PokemonCard name={name} url={url} isBig />
  <audio controls class='mt-5'>
    <source src={audioSrc} type='audio/ogg' />
  </audio>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
  #btn-favorite {
    @apply hover:animate-pulse;
  }
</style>
