---
import type { GetStaticPaths } from 'astro'
import type { PokemonListResponse } from '../../interfaces/pokemon-list-response'
import MainLayout from '@layouts/MainLayout.astro'
import PokemonCard from '@components/pokemons/PokemonCard.astro'
import Title from '@components/shared/Title.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151')
  const { results } = (await resp.json()) as PokemonListResponse

  return paginate(results, { pageSize: 20 })
}) satisfies GetStaticPaths

const title = 'Pokemon SSG | Home'
const { page } = Astro.props
---

<MainLayout title={title}>
  <Title>Listado paginado</Title>

  <section
    aria-label='Listado de Pokemons'
    class='grid grid-cols-1 gap-4 sm:grid-cols-4 md:grid-cols-5 mt-5'
  >
    {
      page.data.map(({ name, url }) => {
        return <PokemonCard name={name} url={url} />
      })
    }
  </section>
  <section class='mt-10 gap-2 flex items-center'>
    <a
      class:list={[
        `btn`,
        {
          disabled: !page.url.prev,
        },
      ]}
      href={page.url.prev}
      >Anteriores
    </a>
    <a
      class:list={[
        `btn`,
        {
          disabled: !page.url.next,
        },
      ]}
      href={page.url.next}
      >Siguientes
    </a>
    <div class='flex flex-1'></div>
    <span class='text-xl'> Pagina {page.currentPage} de {page.lastPage}</span>
  </section>
  <!-- <ul class="list-disc list-inside">
		
	</ul> -->
</MainLayout>
<style>
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .disabled {
    @apply bg-gray-500 text-white font-bold py-2 px-4 rounded-md shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
  }
</style>
